<!--<%- include('partials/footer.ejs')%>-->

<footer class="footer">
    <div class="box-footer">
        <div class="container">
            <p>Perguntas? contate-Nos.</p>
            <div class="box-single">
                <div class="box-single-footer">
                    <ul>
                        <li>Perguntas Frenquentes</li>
                        <li>Relações com investidores</li>
                        <li>Privacidade</li>
                        <li>teste rápido</li>
                    </ul>
                </div>
                <div class="box-single-footer">
                    <ul>
                        <li>Centro de ajuda</li>
                        <li>Empregos</li>
                        <li>Preferências de cookies</li>
                        <li>Noticias Legais</li>
                    </ul>
                </div>
                <div class="box-single-footer">
                    <ul>
                        <li>Contas</li>
                        <li>Maneiras de assistir</li>
                        <li>Informações Corporativas</li>
                        <li>Apenas na Trashflix</li>
                    </ul>
                </div>
                <div class="box-single-footer">
                    <ul>
                        <li>Centro de midia</li>
                        <li>Termo de uso</li>
                        <li>Entre em contacto conosco</li>
                    </ul>
                </div>
            </div>
            <p>Trashflix</p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
